@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
.aboutr_me_container {
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .about_me_main_container {
    margin-top: -13%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background: #000;
    padding: 1%;
    opacity: 0.8;
    border-radius: 15px;
    box-shadow: rgba(231, 241, 90, 0.25) 0px 13px 27px -5px,
      rgba(179, 243, 28, 0.3) 0px 8px 16px -8px;

    .image_info_container {
      font-family: "Roboto Slab", serif;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2%;
      img {
        padding: 2%;
        width: 40%;
      }
      p {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
    }

    .foter_info {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      background: #e7bcbc;
    }
  }
}

.ant-divider {
  margin-top: 5px;
  margin-bottom: 5px;
}
