.home_content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0px;

  .home_content_container {
    background: url("https://i.pinimg.com/236x/82/85/46/828546ec010b20a0cfd28b48cebb5587.jpg");
    box-shadow: rgba(231, 241, 90, 0.25) 0px 13px 27px -5px,
      rgba(179, 243, 28, 0.3) 0px 8px 16px -8px;
    margin-top: -15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: 400px;
    background-color: black;
    opacity: 0.8;
    z-index: 1.5;
    border-radius: 15px;
  }

  .name_container {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      margin-left: 1%;
      width: 3%;
    }

    .sub_container {
      display: flex;
      align-items: center;
      justify-content: center;

      .Typewriter {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;

        .Typewriter__wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          color: rgb(204, 107, 183);
          font-weight: 700;
        }
      }
    }
  }
  .name_container + h1 {
    text-align: center;
  }
}

* {
  box-sizing: border-box;
}
.Typewriter__cursor {
  display: none;
}

:root {
  --color-1: #1ceaf5;
  --color-2: #b10299;
  --color-3: #35f0fa;
  --color-4: #c5da10f5;
  --color-5: #8be910;
}

h1 {
  font-family: "Exo", sans-serif;
  font-weight: 900;
  font-size: 25px;

  text-transform: uppercase;
  background: linear-gradient(
    219deg,
    var(--color-1) 19%,
    transparent 19%,
    transparent 20%,
    var(--color-2) 20%,
    var(--color-2) 39%,
    transparent 39%,
    transparent 40%,
    var(--color-3) 40%,
    var(--color-3) 59%,
    transparent 59%,
    transparent 60%,
    var(--color-4) 60%,
    var(--color-4) 79%,
    transparent 79%,
    transparent 80%,
    var(--color-5) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.wrapper > h1 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_content_container > div,
.home_content_container > h1 {
  z-index: 2;
}
