.navbar_container {
  background: #ddf589;
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2%;
  top: 0px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(219, 121, 198, 0.23) 0px 6px 6px;

  .portfolio_log_image {
    margin-right: 4%;
    a {
      display: flex;
      align-items: center;
    }
    a > img {
      width: 20%;
    }
  }
}

.custom-segmented {
  background: #ddf589;
  color: rgb(17, 17, 17);
  width: 100%;
  border-radius: 0px;
  font-size: 15px;
  font-weight: 700;

  // margin-right: 4%;
  // border: 10px solid yellow;
}

.ant-segmented-item {
}
