.skills-container {
  display: flex;
  height: 100vh;
  flex-direction: column;

  h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    text-shadow: 2px 0 0px #000000, 3px 2px 0px rgba(77, 0, 38, 0.5),
      3px 0 3px #ff002b, 5px 0 3px #800015, 6px 2px 3px rgba(77, 0, 13, 0.5),
      6px 0 9px #f8ad88, 8px 0 9px #802a00, 9px 2px 9px rgba(77, 25, 0, 0.5),
      9px 0 18px #d87ad0, 11px 0 18px #f1ce1e,
      12px 2px 18px rgba(77, 66, 0, 0.5), 12px 0 30px #d4ff00,
      14px 0 30px #6a8000, 15px 2px 30px rgba(134, 160, 5, 0.5),
      15px 0 45px #80ff00, 17px 0 45px #408000,
      17px 2px 45px rgba(38, 77, 0, 0.5);
  }

  .smooth-image-carousel {
    display: flex;
    margin-top: 35px;
    flex-direction: column;

    .image-container {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 30px 2%;
      margin: auto;
      align-items: center;
      justify-content: center;
      .image-box {
        box-shadow: rgba(85, 228, 19, 0.25) 0px 14px 28px,
          rgba(208, 240, 68, 0.22) 0px 10px 10px;
        height: 100px;
        width: 200px;
        border-radius: 10px;

        img {
          border-radius: 10px;
          width: 100%;
          height: 100%;
        }
      }
    }

    #image-container-1 {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }
  }
}
